
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thmeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="./layout.html">
    <head> 
        <title>Home Page</title> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
        <style>
            #background {
                background: url('/home.jpg');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
                height: 400px;
            }
        </style>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 pt-2">
                        <div class="text-center" id="background">
                            <div class="d-flex justify-content-center flex-column text-white pt-5">
                                <h1 class="text-uppercase">Online book library</h1>
                                <h5 class="pt-3">Perfect solution for library management</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-5"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title" th:text="${book.getName()}"></h5>
                                        <p class="card-text" th:text="${book.getDescription()}"></p>
                                        <a href="#" class="btn btn-primary"th:text="'Only ' + ${book.getPrice()} + ' $'"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>